*{
     padding: 0;
     margin: 0;
}
html{
    min-height:100%;
}
body{
   /* background-color: rgb(38, 38, 38);*/
    background: linear-gradient(to bottom, rgb(54, 38, 38), rgb(38, 32, 50));
    font-family: 'Arial';
    height: 100%;
}
.header{
    text-align: center;
    color: #ccc;
}
.header-title{
    margin: 3% 0 0 0;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.menu{
    position: relative;
    margin: 5% 0 0 0;
    display: inline-block;
    left:50%;
    transform: translate(-50%, 0);
}
.menu-list-item{
    list-style-type: none;
}
.menu-list-item-link{
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}
.menu-list-item-link:hover{
    text-decoration: underline;
    color: #ccc;
}



