/**
 * Created by Андрей on 03.04.2016.
 * Передача данных формы на сервер средствами AJAX
 *
 * CSS
 *
 * @author Заварин А.Н.
 * @version 1.0
 */

@import url("fonts/hattori/hattori.css");
@import url("fonts/roboto/roboto.css");

*{
    padding:0;
    margin:0;
}
html, body{
    width:100%;
    height:100%;
}
.content{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;

}
.button{
    position: absolute;
    width: 150px;
    margin: 35% 415px 0 415px;
    padding: 14px 20px 14px 20px;
    display: block;
    background: #abcc26;
    text-align: center;
    font-size: 1.2em;
    font-family: 'robotoregular';
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.button:hover{
    background: #D9E311;
}
.button:active{
    background: #19D94E;
}

.windowEditRegistry{
    width: 900px;
    height: 700px;
    background: #ffffff;
    z-index: 99999;
    position: fixed;
    box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.2);
    top: 10%; left: 15%;
    border-radius: 5px;
    font-family: 'robotoregular';
    padding: 0 10px 10px 0;
    overflow-x:hidden;
    overflow-y:scroll;
    display: none;
}

.windowEditRegistry h3{
    color: #abcc26;
    font-weight: 100;
    font-size: 1.7em;
    margin: 10px 0 10px 0;
    text-align: center;
}
.windowEditObjectTitle{
    width: 850px;
    /*height: 50px;*/
    margin: 0 25px 0 25px;
    display: inline-block;
    /*margin: 5px 0 5px 0;*/
}
.windowEditObjectTitle input{
    float: right;
    width: 530px;
    height:20px;
    border-radius: 3px;
    resize: none;
    border: 1px solid #dcdada;
    padding: 5px;
    font-size: 1.1em;
    font-family: 'robotoregular';
    color: #7a7a7a;

}

.windowEditObjectTitleBox input::-webkit-input-placeholder {color: #7a7a7a}
.windowEditObjectTitleBox input::-moz-placeholder          {color: #7a7a7a}
.windowEditObjectTitleBox input:-moz-placeholder           {color: #7a7a7a}
.windowEditObjectTitleBox input:-ms-input-placeholder      {color: #7a7a7a}

.windowEditObjectTitle textarea{
    float: right;
    width: 530px;
    height:110px;
    border-radius: 3px;
    resize: none;
    border: 1px solid #dcdada;
    padding: 5px;
    font-size: 1.1em;
    font-family: 'robotoregular';
    color: #7a7a7a;
}

.windowEditObjectTitle label{
    display: inline-block;
    padding: 0 3px 0 3px;
    color: #7a7a7a;
    font-size: 0.9em;

}
.error{
    float: left;
    font-size: 12px;
    color:red;
    width: 100%;
    text-align: left;
    background: #fff;
    height: 12px;
    display:inline-block;
}

.windowEditObjectTitleBoxOne{
    float: left;
    color: #7a7a7a;
    width: 280px;
    font-size: 1.2em;
    text-align: right;
    margin: 0 20px 0 0;
}
.windowEditObjectTitleBoxTwo{
    float: right;
    width: 542px;

    display: inline-block;
}
.windowEditObjectTitleBoxTwo select{
    width: 542px;
    padding: 5px;
    float: left;
    border: 1px solid #dcdada;
    border-radius: 3px;
    outline: none;
    font-size: 1.1em;
    color: #7a7a7a;
}

.windowEditObjectTitle .windowEditObjectTitleBoxTwo label{
    font-size: 0.95em;
    float: left;
}

.windowEditObjectTitleBox{
    float: right;
    width: 542px;
    display: inline-block;
}
.windowEditObjectTitle .windowEditObjectTitleBox input{
    width: 150px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}

.windowEditObjectImg{
    width: 850px;
    height: 100px;
    margin: 0 25px 10px 25px;
    display: inline-block;
}

.windowFileUpload{
    width: 540px;
    float: right;
    display: inline-block;
}
.image_uploaded{
    width: 100px;
    height: 100px;
    float: left;
    display: inline-block;
    margin: 0 0 0 0;
}
.image_uploaded img{
    width: 100%;
    height: 100%;
    display: block;
}
.file_upload{
    width: 430px;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    height: 2em;
    line-height: 2em ;
    float: right;
    margin: 0 0 0 0;
}
.file_name{
    color: #7a7a7a;
    display: inline-block;
}
.file_upload > button{
    font-family: 'robotoregular';
    float: right;
    width: 8em;
    height: 100%;
    font-size: 1em;
    color: #abcc26;
    background: none;
    border: none;
    border-bottom: 1px solid #abcc26;
    width: 80px;
}
.file_upload > div{
    padding-left: 1em
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.windowButton{
    width: 340px;
    margin: 5px auto 0 auto;
    display: block;
    font-size: 1.4em;
    font-family: 'robotoregular';
}
.delButton{
    display: inline-block;
    background: #abcc26;
    padding: 14px 20px 14px 20px;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
}
.cancelButton{
    display: inline-block;
    background: #e1e1e1;
    color: #7a7a7a;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin: 0 0 0 2px;
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
}

.pageWindows{
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    display: none;
    background: #000000;
    opacity: 0.5;
    position: fixed;
}