 @import url("fonts/roboto/roboto.css");
*{
  margin: 0;
  padding: 0;
}
body{
	background: url('images/fon.jpg') fixed top left no-repeat;
	-o-background-size: 100% 100%;  /* Opera 9.5+ */
    -webkit-background-size:100% 100%; /* Safari 3+, Chrome */
    -moz-background-size:100% 100%; /* Firefox 3.6+ */
    -khtml-background-size:100% 100%; /* Konqueror */
	background-size: 100% 100%;
}
.content{
	width: 50%;
	margin: 5% 25% 0 25%;
}

.content h1{
    width: 100%;
	font-family: 'robotoregular';
	color: #f9d42b;
	display: block;	
	margin: 0 auto;
    text-align: center;
    text-shadow: #32312f 2px 0px 2px, #000 0px 2px 2px, #fad338 0px -2px     2px, #000 -2px 0px 2px;
    display: none;
}
.content p{
    display: block;	
    width: 70%;
    margin: 2% 8% 0 22%;
    font-family: 'robotoregular';
	color: #fad338;
    font-size: 1.8em;
    text-shadow: #32312f 2px 0px 2px, #000 0px 2px 2px, #fad338 0px -2px     2px, #000 -2px 0px 2px;
    display: none;
    transition: all;
}
.img{
    width: 0px;
    height: 0px;
    position: fixed;
    display: inline-block;
}
#fir-tree{
    margin: 0 0 0 30px;
}
#masha{
    margin: 0 0 0 80%;
}