﻿@import url("fonts/hattori/hattori.css");
@import url("fonts/roboto/roboto.css");
*{
	padding:0;
	margin:0;
}
body{
	background: #efefef;
}
header{
	width: 100%;
	text-align: center;
	font-family: 'robotoregular';
	color: #7a7a7a;
}
hr {
	border: none;
	background-color: #b6babd;
	color: #b6babd;
	height: 1px;
}
.content{
	width: 80%;
	height: 100%;
	margin: 2% 10% 0 10%;
	padding: 5% 0 5% 0 ;
    display: block;
	overflow: hidden;
	font-family: 'robotoregular';
	background: #ffffff;
}
.titleContent{
	width: 60%;
	margin: 0 20% 0 20%;
	text-align: left;
}
.options{
	width: 60%;
	margin: 10px 20% 2px 20%;
	overflow: hidden;
}
.options:hover .circle{
	background: #b6babd;
}
.circle{
	width: 15px;
	height: 15px;
	float: left;
	margin: 2px 0 0 0;
	border: 1px solid #c2c6c9;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.text{
	width: 80%;
	float: left;
	margin: 0 0 0 1%;
}
.resultOptions{
	width: 100%;
	height: 25px;
	float: left;
	display: none;
	overflow: hidden;
}
.count{
	position: relative;
	width: 80%;
	float: left;
	text-align: center;
	background: #f7f7f7;
	overflow: hidden;
}
.count p{
	position: absolute;
	top:0;
	left:50%;
	margin: 0 auto;
	color: #7f919b;
	z-index: 999;
}
.progressBar{
	position: relative;
	width: 100%;
	height: 25px;
	background: #d8e3e7;
}
.persent{
	width: 18%;
	min-width: 55px;
	float: left;
	margin: 0 0 0 2%;
	text-align: left;
}
.numberOfUsers{
	width: 60%;
	margin: 2% 20% 0 20%;
	display: none;
}
.numberOfUsers span{
	font-size: 20px;
}