*{
    padding: 0;
    margin: 0;
}
html{
    position:relative;
    min-height:100%;
}
body{
    height: 100%;
    background: linear-gradient(to bottom, #e4ecf4, #a1c6ea);
    font-family: 'Arial';
}
a{
    text-decoration: none;
}
a:hover, a:active{
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
li{
    list-style-type: none;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.container-main{
    padding-bottom: 230px
}
.menu-list{
    display: flex;
    justify-content: space-between;
}
/*Верхнее меню*/
.top-menu-content{
    padding: 10px 0 10px 0;

    background: #ededed;
}
.top-menu{
    width: 630px;
    float: left;
}
.top-menu-item-link{
    font-size: 13.5px;
    color: #353743;
}
.top-menu-item-link:hover{
    color: #ffc600;
}
.top-menu-item-link:active{
    color: #ff9600;
}
/*Форма поиска*/
.search-form{
    float: right;
}
.search-form-input{
    width: 250px;
    max-height: 18px;
    float: left;
    padding: 2px 5px 2px 5px;

    display: block;
    font-size: 12px;
    background: #d2d2d2;
    border: 1px solid #d2d2d2;
    outline: none;
    box-sizing: border-box;
}
.search-form-input:focus{
    border-color: #dd22dd;
}
.search-form-submit{
    width: 16px;
    float: right;
    padding: 1px 4px 1px 4px;

    border-radius: 0 5px 5px 0;
    background: linear-gradient(to bottom, #ffc600, #ff9600);
    border: none;
}
/*Заголовок*/
.header{
    display: flex;
    justify-content: space-between;
}
.company-info-wrap{
    color: #002a72;
    font-size: 21px;
}
.company-info-allotted{
    color: #fb9f18;
    font-size: 42px;
    font-weight: bold;
}
.basket-wrap{
    position: relative;
    width: 220px;
    height: 70px;

    background: linear-gradient(to bottom, #ffc600, #ff9600);
}
.basket-wrap:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 70px;

    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 30px solid #ff9600;
}
.basket{
    margin: 10px 0 0 0;

    font-size: 29px;
    font-weight: 100;
    color: #353743;
    text-align: center;
}
.authorization{
    margin: 5px 0 0 0;

    text-align: center;
}
.authorization-link{
    color: #353743;
    font-size: 19px;
}
.authorization-link:hover{
    color: #ffc;
}
.authorization-link:active{
    color: #ff9;
}
/*Сервис меню*/
.service-menu{
    padding: 0 40px 0 40px;
    margin: 50px 0 30px 0;

    background: linear-gradient(to bottom, #ffc600, #ff9600);
    border-radius: 30px;
}
.service-menu-item{
    position: relative;
    margin: 10px 0 0 10px;
    padding: 0px 0 10px 11px;
}
.delimiter{
    border-left: 1px solid #ffe17d;
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.service-menu-item-link{
    position: relative;
    display: block;

    font-weight: bold;
    color: #222222;
    font-size: 14px;
}
.service-menu-item-link:hover .service-menu-item-text{
    color: #ff9;
}
.service-menu-item-link:active .service-menu-item-text{
    color: #ffc;
    border-bottom: 1px solid #ff9;
}
.service-menu-item-image{
    position: relative;
    width: 80px;
    height: 50px;
    margin: 0 auto;

    display: block;
}
#service-menu-item-image-1{
    background: url(../images/not_loadable/1C.png) center no-repeat;
}
#service-menu-item-image-2{
    background: url(../images/not_loadable/ser_2.png) center no-repeat;
}
#service-menu-item-image-3{
    background: url(../images/not_loadable/ser_3.png) center no-repeat;
}
#service-menu-item-image-4{
    background: url(../images/not_loadable/ser_4.png) center no-repeat;
}
#service-menu-item-image-5{
    background: url(../images/not_loadable/ser_5.png) center no-repeat;
}
.service-menu-item-text{
    position: relative;
    margin: 5px 0 0 0;
    border-bottom: 1px solid transparent;
    display: block;
}
/*Сайтбар*/
.sidebar{
    width: 220px;
    float: left;

    border-radius: 30px;
    background: linear-gradient(to bottom, #ffc600, #ff9600);
}
.sidebar-title{
    margin: 31px 13px 0 15px;
}
.sidebar-title-text{
    font-size: 13px;
    color: #000000;
    line-height: 1.5;
}
.sidebar-menu{
    margin: 0 13px 30px 20px;
}
.sidebar-menu-item{
    margin: 15px 0 0 25px;
}
.sidebar-menu-item-link{
    color: #000000;
    font-size: 13px;
}
.sidebar-menu-item-link:hover{
    color: #ffffcc;
    border-bottom: 1px solid #ffffcc;
}
.sidebar-menu-item-link:active{
    color:  #fff;
    border-bottom: 1px solid #fff;
}
/*Главный контент*/
.content{
    position: relative;
    width: 701px;
    float: right;
    padding: 0 0 130px 0;

    border-radius: 30px;
    background: #ffffff;
}
.content-title-wrap{
    margin: 17px 0 27px 22px;
}
.content-title{
    color: #002e79;
    font-weight: bold;
    font-size: 21px;
}
.content-list{
    padding: 40px 25px 0 25px;

    display: flex;
    justify-content: space-between;
}
.content-product{
    width: 193px;
}
.product-picture{
    position: relative;
    width: 128px;
    margin: 0 auto;
}
.product-picture-img{
    width: 100%;
}
.product-name-wrap{
    margin-top: 15px;
}
.product-name{
    font-size: 12px;
    color: #003280;
    text-decoration: underline;
}
.product-name:hover{
    color: #ffc600;
}
.product-name:active{
    color: #ff9600;
}

.product-shopping-info{
    margin:30px 0 0 0;
}
.product-price{
    float: left;

    color: #fb9f18;
    font-size: 19px;
    font-weight: bold;
}
.product-basket{
    width: 33px;
    height: 26px;
    float: right;

    display: block;
    background: url(../images/not_loadable/basket_for.png) center no-repeat;
}
.addAction:before{
    content: "";
    position: absolute;
    width: 78px;
    height: 78px;
    bottom: -10.5px;
    right: -30px;

    background: url(../images/not_loadable/action.png);
}
.addLid:before{
    content: "";
    position: absolute;
    width: 78px;
    height: 78px;
    bottom: -10.5px;
    right: -30px;

    background: url(../images/not_loadable/lid.png);
}
/*Пагинация*/
.pagination-wrap{
    position: absolute;
    width: 218px;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
.pagination-list{
    position: absolute;
    width: 160px;
    margin: 2.5px 0 0 0;
    left: 50%;
    transform: translate(-50%, 0);

    display:flex;
    justify-content: space-between;
}
.pagination-item{
    font-size: 18px;
}
.pagination-item-link{
    text-decoration: none;
    color: #858585;
}
.pagination-item-link:hover {
    color: #003382;
}
.pagination-icon{
    height: 0;
    width: 0;

    display: block;
}
.pagination-item-active{
    color: #003382;
}
.icon-left{
    float: left;

    border-top: 13px solid transparent;
    border-right: 15px solid;
    border-bottom: 13px solid transparent;
    background: linear-gradient(to bottom, #001142, #00388d);
}
.icon-rigth{
    float: right;

    border-top: 13px solid transparent;
    border-left: 15px solid;
    border-bottom: 13px solid transparent;
    background: linear-gradient(to bottom, #001142, #00388d);
}
/*Подвал*/
.footer{
    position: absolute;
    width: 100%;
    height: 115px;
    bottom: 0;

    background: #cdcdcd;
    font-size: 17px;
    color: #858585;
}
.button-menu{
    width: 700px;
    margin: 25px 0 0 0;
}
.button-menu-item-link {
    color: #858585;
}
.button-menu-item-link:hover{
    color: #265F7F;
}
.footer-info{
    margin: 25px 0 0 0;
}
.footer-copyright{
    float: left;
}
.footer-control{
    float: right;
    font-size: 13.5px;
}