﻿html{
	background: url(fon.jpg) no-repeat center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
}
body{
	
}
.home{
	width: 100%;
	height: 20px;
	font-family: 'Arial'
}
.home h1{
	text-align: center;
}
.home p{
	font-size: 2em;
	text-align: center;
	padding-bottom: 20px;
}
.home p span{
	color: red;
	width: 10px;
	height: 20px;
	padding: 10px 10px 10px 10px;
	font-size: 2em;
	font-family: 'Arial';
}
.blockMain{
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.blockContent{
  background: #fff;
  width: 40%;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border: 10px solid #E5B22D;
  position: relative;
/*тени для блока*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
 /*скругленные углы*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
   border-radius: 15px;
}
.blockContent h1{
	font-size: 1.6em;
	font-family: 'Arial';
	text-align: center;
	color: #E58900;
}
.blockContent p{
	font-size: 1.5em;	
}
.blockContent img{
	float: left;
	margin: 0 20px 0 0;
	width:20%;
	height: 20%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.blockContent  #href{
	text-decoration: none;
	font-size: 2em;
	color: #FF9800;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ccc;
	width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -22px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    top: -24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background-color: rgba(0, 122, 200, 0.8);
}