*{
  padding: 0;
  margin: 0;
}
.content{
  position: relative;
  width: 25%;
  height: 300px;
  margin: 10% 37.5% 0 37.5%;
  background: #FFEC98;
  border-radius: 15px;
  box-shadow: 0 10px 5px -6px rgba(0,0,0,0.3);
}
form{
  position: relative;;
  width: 100%;
  top: 30%;
}
.inputForm{
  display:block;
  width: 60%;
  height: 35px;
  margin: 2% 20% 0 20%;
  border: 2px solid;
  border-color: #A0A0FF;
  font-size: 1em;
  padding: 0.5% 1% 0.5% 1%;
}
#button{
    width: 63%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #A0A0FF;
	background: #FFDEDA;
	
}
.selectStyle{
	margin: 4% 10% 0 10%;
	width: 80%;
	text-align: center;
}
.buttonStyle{
	width: 20%;
	height: 40px;
	border-radius: 20px;
	border: 2px solid;
    border-color: #A2FFB3;
    color: #040019;
	display: inline;
	margin: 0 3% 0 3%;*/
	background: #FFEEB3;
	outline:  none;
}
.buttonStyle:active{
	border-color: #000;
}

.rotate{
	width: 10%;
	height: 50px;
	border-radius: 20px;
	background: red;
	transform: rotate(360deg);
}
