*{
  margin: 0;
  padding: 0;
}
.content{
  position: relative;
  width: 60%;
  height: 400px;
  margin: 10% auto 0 auto;
}
.menu{
  width: 100%;
  min-width: 750px;
  background: #69E86B;
  color: #7F7E6F;
  font-family: 'Arial';
}
.menu ul{
  width: 100%;
  display: flex;
  list-style: none;
}
.menu li{
  width: 25%;
  text-align: center;
  padding: 15px;
  font-size: 1.5em;
}
.text{
  width: 90%;
  font-size: 1em;
  background: #B9FF80;
  height: auto;
  min-height: 350px;
  padding:5%;
  word-wrap: break-word;
  color: #000000;
}
.selected{
  background: #B9FF80;
}